@model BooksDir.Models.Book

@{
    ViewData["Title"] = "Book Details";
}

<h2>@Model.Title</h2>

<div class="mb-3">
    <strong>Author:</strong> @Model.Author?.AuthorName
</div>
<div class="mb-3">
    <strong>Genre:</strong> @Model.Genre?.GenreName
</div>
<div class="mb-3">
    <strong>Pages:</strong> @Model.Pages
</div>
<div class="mb-3">
    <strong>Year:</strong> @Model.Year
</div>
<div class="mb-3">
    <strong>Description:</strong>
    <p>@Model.Description</p>
</div>


<a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
<a asp-action="Index" class="btn btn-secondary">Back to List</a>

